body {
    font-size: 12px;
}

.cover-page .cv {
    
    .cv_foto {
        width: 100%;
    }

    .cv_title {
        width: 80%;
    }
    
}

.cintillo .pensamiento {
    height: auto;
    padding-top: 10px;
}

.protagonista-principal {
    .photo .foto_principal {
        width: 100%;
        height: auto;
    }
    .content {
        height: auto !important;
        margin-top: 5px;
    }
}

.div-protagonista, .all-protagonistas {
    margin: 30px 0; 
}

.biblioteca.sala {
    .temas {
        .book-lectura {
            border-bottom: 1px solid;

            a {
                color: $black;
            }
            
            &:nth-child(3) {
                border-top: none;
            } 
            &.col-1, &.col-2 {
                border-left: none;
            }
            &.col-3 {
                border-left: none;
                border-right: none;
            }
            &:nth-child(odd){
                border-right: 1px solid;
                border-left: 1px solid;
            }
            &:nth-child(even){
                border-right: 1px solid;
            }
        }
    }
}