body {
    font-size: 12px;
}

.cover-page .cv {
    
    .cv_foto {
        width: 100%;
    }

    .cv_title {
        width: 80%;
    }
    
}

.cintillo .pensamiento {
    height: auto;
    padding-top: 10px;
}

.protagonista-principal {
    .photo .foto_principal {
        width: 100%;
        height: auto;
    }
    .content {
        height: auto !important;
        margin-top: 5px;
    }
}

.div-protagonista, .all-protagonistas {
    margin: 30px 0; 
}