footer .copyright {
    position: unset;
    .container.logo-todd {
        width: 100%;
    }

    a#back_to_top {
        right: 30px;
    }
}

.cover-page .pensamiento {
    padding-left: 0;
    padding-right: 0;
}

.menu-left-text {
    padding-right: 0;
}

.protagonista-principal {
    .foto_principal {
        width: auto;
        height: 250px;
    }

    .content {
        height: 215px;
    }
} 