.cover-page {
    .menu.menu-protagonistas {
        padding-top: 21%;
        padding-left: 10%;
    
        ul a {
            color: $dark_grey; 
            font-weight: 400;
        }
    }

    .line-single-protagonistas {
        margin: 0;
        border-top: 4px solid;
    }

    .line-single-protagonistas-bold {
        margin: 0;
        border-top: 8px solid;
    }

    h3.title {
        text-align: center;
        margin-bottom: 16px;
        font-size: 3.2em;
    }

}

.description-protagonista {
    text-align: justify;
    font-size: 1.2em;
}

.div-protagonista {
    padding: 15px 0;
    font-size: 1.1em;
}

.protagonista-principal {
    a {
        color: $dark_grey; 
    }
    .photo {
        height: 380px;
    }
    .foto_principal {
        width: auto;
        height: 330px;
    }
    p.name {
        font-size: 1.5em;
        font-weight: 400;
        padding-top: 6px;
    }
    .content {
        padding: 30px;
        text-align: justify;
        font-size: 1.23em;
        border-left: 1px solid;
        height: 330px;
    }

    p.titulo {
        font-weight: 900;
    }
}
.all-protagonistas {
    margin: 30px 16%;
    padding-right: 3%;
    .prot {
        border-bottom: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid;

        a {
            color: $black; 
        }
        
        img.foto {
            width: 85%;
            padding-top: 19px;
        }
        .uno {
            padding-top: 0;
            padding-left: 0;
            p.name {
                font-weight: 900;
                margin-top: 4px;
            }
        }

        &:nth-child(1) {
            border-top: 1px solid;
        }

        .dos {
            padding-top: 24px;
            font-size: 1.1em;
            .titulo {
                font-weight: 900;
            }
        }

        .tres {
            padding-top: 100px;

            i {
                font-size: 23px;
                color: $light_grey;
            }
        }
    }
}


.paginator {
    text-align: center;
    padding-left: 10%;
    position: relative;

    i {
        font-size: 23px;
        color: $light_grey;
        padding: 14px 0px;
        position: absolute;
        &.fa-angle-left {
            left: 45%;
        }
        &.fa-angle-right {
            right: 45%;
        }
    }

    a.page-numbers, span.page-numbers {
        color: transparent;
    }
}

.page-template-protagonistas {
    .cintillo {
        padding-top: 15px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;

        .lines {
            padding-left: 0;
            padding-right: 0;
        }

        hr.line {
            display: none;
        }

        hr.bold-line {
            display: none;
        }
    }
}
