.single-protagonista {
    .menu-top #menu-main li#menu-item-46 a{
        font-weight: 600;
    }
    
    .menu-top #menu-main li#menu-item-47 a{
        font-weight: 400 !important;
    }

    .cintillo {
        padding-top: 15px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;

        .lines {
            padding-left: 0;
            padding-right: 0;
        }

        hr.line {
            display: none;
        }

        hr.bold-line {
            margin-top: 15px;
            margin-bottom: 0;
        }
    }

    .line-single-protagonistas {
        margin: 0;
        border-top: 4px solid;
        margin-top: 20px;
    }

    .line-single-protagonistas-bold {
        margin: 0;
        border-top: 8px solid;
    }

    h3.title-prot {
        text-align: center;
        margin-bottom: 16px;
        font-size: 3.2em;
    }

    h3.title {
        text-align: center;
        font-size: 3.5em;
        margin-top: 10px;
        color: $light_grey; 
        font-weight: 400;
    }

    .principal {

        img.foto {
            width: auto;
            margin-top: 20px;
            height: 280px;
        }

        .titulo-content h4 {
            text-transform: uppercase;
            font-size: 2em;
            line-height: 1.4;
        }

        .actividades {
            padding-right: 10px;

            .titulo {
                font-size: 1.2em;
                font-weight: 400;
            }

            .tipo {
                font-weight: 400;
                font-size: 1.2em;
                margin-bottom: 0;
            }

            .titulo-act {
                font-size: 1.2em;
                font-weight: 600;
            }

            .titulo-desc {
                font-size: 1.2em;
                font-weight: 400;
            }

            p.fecha {
                font-size: 1.2em;
            }
        }

        .content-interna {
            border-left: 1px solid;
            height: 280px;
            margin-top: 20px;
        }
    }

    .content{
        font-size: 1.15em;
        line-height: 1.45;
        text-align: justify;
        color: $black;
        margin-top: 3%;
    }
}