$dark_grey: #2e3131;
$light_grey: #756E6C;
$facebook:#3b5998; 
$linkedin: #0e76a8; 
$twitter: #00acee;
$black: #000000; 
$blue_todd: #447EB4; 
$white: #ffffff;
$title_black: #404040;
$subtitle_grey: #909090;
$boder_grey: #D0D0D0; 