footer {
    display: inline-block;
    .copyright {
        font-size: 12px;
        margin-top: 8%;
        padding-bottom: 2%;
        position: relative;
        .container.logo-todd {
            
            display: flex;
            p{
                font-weight: bolder;
                color: $blue_todd;
                margin-bottom: 0;
                padding-left: 25px;
                margin-top: -14px;
            }
            img {
                width: 35px;
                vertical-align: baseline;
            }
        }
    }
    a#back_to_top {
        text-align: right;
        position: absolute;
        right: 10px;
        color: $light_grey;
    }
}